<div class="content pure-g">

<h2 class="content-head is-center" style="margin-left:auto;margin-right:auto;">Listings</h2>
    <ul id='listings'>
      <% @all_listings.each do |result| %>
          <div class="pure-u-2-5" id="pretty-box">
            <li><small>Listing id:  <%= listing_id = result.id %></small></li>
            <li>City: <%= result.city %></li>
            <li>Description: <%= result.description   %></li>
            <li>Price per night: <%= result.price   %></li>
          <% @dates = @available_dates.all(listing_id: listing_id) %>
          <% if @dates.empty? %>
            <strong>There are curently no available dates</strong>
          <% else %>
            Available dates:
            <ol>
              <% @dates.each do |show_date| %>
                <li><%= show_date.start_date %> to <%= show_date.end_date %> </li>
                <form action="/requests/request_booking" method="post">
                  <input type = 'hidden' name = "avdate_id" value = "<%= show_date.id %>" >
                  <input type = 'hidden' name = "start_date" value = "<%= show_date.start_date %>" >
                  <input type = 'hidden' name = "end_date" value = "<%= show_date.end_date %>" >
                  <input type = 'hidden' name = "listing_id" value = "<%= listing_id %>" >
                  <input type="submit" class="pure-button" value="Make Booking Request">
                </form>
              <% end %>
            </ol>
          <% end %>
        </div>
      <% end %>
    </ul>
</div>
