<head>
  <title>Current Listings</title>
</head>

<form action="/listings/search_listings" method="get">
<input type="submit" value="Search listings">
</form>

<form action="/listings/new" method="get">
<input type="submit" value="Add listing">
</form>


<h3>Listings</h3>

<br />
<ul id='listings'>
  <% @all_listings.each do |result| %>
    <li>
      <div>
        City:             <%= result.city %>
        &nbsp&nbsp&nbsp
        Description:      <%= result.description   %>
        &nbsp&nbsp&nbsp
        Price per night:  <%= result.price   %>
        &nbsp&nbsp&nbsp
        <%= listing_id = result.id   %>
      </div>
      <div>
      Available dates:
      <ol>
        <% @dates = @available_dates.all(listing_id: listing_id) %>
        <% @dates.each do |show_date| %>
          <li>
            Start date: <%= show_date.start_date %>
            End date: <%= show_date.end_date %>
          </li>
        <% end %>
    </ol>
    </div>

      <form action="/requests/new" method="post">
        <input type = 'hidden' name = "listing_id" value = "<%= listing_id %>" >
        <input type="submit" value="Request stay">
      </form>

    </li>
  <% end %>
</ul>
