<h1> Search results for <%= @city %></h1>

<!-- <form action="/links/new">
  <input type="submit" value="Create New Bookmark">
</form> -->
<br />
<ul id='listings'>
  <% @search_results.each do |result| %>
    <li>
      City:             <%= result.city %>
      &nbsp&nbsp&nbsp
      Description:      <%= result.description   %>
      &nbsp&nbsp&nbsp
      Price per night:  <%= result.price   %>
      &nbsp&nbsp&nbsp
      <input type = 'hidden' name = "listing_id" value = "<%= result.id %>" >
      <form action="/requests/new" method="post">
      <input type="submit" value="Request stay">
      </form>

    </li>
  <% end %>
</ul>
