

<ul id='user-listings'>
  <% @user_listings.each do |result| %>
    <li>
      Address:          <%= result.street_address %>
      City:             <%= result.city %>
      Description:      <%= result.description   %>
      Price per night:  <%= result.price   %>
      <%= @listing_id = result.id   %>

      <form action="/listings/add_date" method="post">
      <input type = 'hidden' name = "listing_id" value = "<%= @listing_id %>" >
      <input type="submit" value="Add dates">
    </li>
  <% end %>
</ul>
