
<ul id='user-requests'>
  <% @user_requests.each do |request| %>
    <% listing = Listing.get(request.listing_id) %>
    <% user = User.get(request.user_id) %>
    <li>
      Request sent to: <%= user.first_name + " " + user.last_name %>
      <br>
      Location:      <%= listing.city %>
      <br>
      Start date:    <%= request.start_date   %>
      <br>
      End date:      <%= request.end_date   %>
      <br>
      Status:        <%= request.status.to_s.capitalize.gsub!(/[^0-9A-Za-z]/, ' ')   %>
      <br>
    </li>
  <% end %>
</ul>
